

.nav-container{
    display: flex !important;
    justify-content: center;
    list-style: none;
    margin: 0 3%;
    padding-top: 7px;
    padding-left: 0;
}

.nav-item {
    padding: 15px;
}

.nav-link{
    color: #fff !important;
    padding: 0 20px;
}

.nav-link span{
    padding-right: 5px !important;
    font-family: 'Quicksand', sans-serif;
    
}

/* .nav-link {
    font-size: 23px;
} */

.nav-link .svg-inline--fa:hover {
    color:  #fff!important;
}

.nav-link .fa-bars:hover{   
    color: #fff !important;
}

.nav-link .fa-times:hover{   
    color: #fff !important;
}