

.nav-container{
    display: flex !important;
    justify-content: flex-end;
    list-style: none;
    margin: 0 3%;
    padding-top: 7px;
    padding-left: 0;
}

.nav-item {
    padding: 15px;
}

.nav-link{
    color: #432e30 !important;
    padding: 0 !important;
}

.nav-link span{
    padding-right: 5px !important;
}

.nav-link .svg-inline--fa:hover {
    color: #98C24D !important;
}

.nav-link .fa-bars:hover{   
    color: #432e30 !important;
}

.nav-link .fa-times:hover{   
    color: #432e30 !important;
}