.swiper-container{
  position: relative;
  height: 500px;
}

.swiper-wrapper{
    padding-inline-start: 0 !important;
    width: 100% !important;
}

.swiper-slide{
    height: 100%;
    color: #fff;
    transition-duration: 0ms;
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg);
    background-color: transparent;
    padding: 0 30px 0 20px;
    cursor: pointer;
    transition: all .5s;
}

.job-bg{
    position: absolute;
    top: 80px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 26px 6px rgba(0,0,0,0.25);
    opacity: 0;
    transition: all .3s;
    z-index: -1;
    left: -30px !important;
    object-fit:contain !important;
}

.active{
  opacity: 1;
}

.activeClass {
  left: -60px !important;
  top: 100px;
}


.swiper-slide:hover .job-description{
    color: #000;
    box-shadow: none;
    overflow-y: scroll;
    
}
.swiper-slide:hover .month{
  color: #222222 !important;
  transition-delay: .1s;
  
}

.swiper-slide:hover .date{
  color: #a5c261 !important;
  transition-delay: .1s;
  
}


.swiper-slide:hover .job-date-items {
  border-bottom: 2px solid #858585 !important;
  padding-bottom: 6px;
}
.swiper-slide:hover .end-single-job-date .job-date-items{
  padding-bottom: 1px !important;

}

.swiper-slide:hover .job__title{
  color: #000 !important;
}

.swiper-slide:hover > .swiper-button-prev::after{
  color: #222222 !important;
}

.swiper-slide:hover .swiper-button-next::after{
  color: #222222 !important;
}

.swiper-slide:hover .play-text{
  display: block !important;
  opacity: 1 !important; 
  position: absolute;
  left: 43%;
}

.swiper-slide:hover .btn-play-pause{
  position: absolute;
  top: 128% !important;
}





.job-dates{
  transition: all .5s;
  position: relative;
  height: 70px;
  background-color: transparent;
  pointer-events: none;
}

.single-job-date, .end-single-job-date{
  min-width: 100% !important;
  position: absolute;
}

.end-single-job-date {
  right: 5px;
}


.end-single-job-date .job-date-items{
  position: absolute;
  height: auto;
  /* left: 52%; */
  right: 0 !important;
  padding-bottom: 1px;
  line-height: 1.4;

}

.job-date-items{
  border-bottom: 2px solid #e2e2e2;
  padding-bottom: 6px;
}

.job__title{
  position:relative !important;
  top: -70px !important;
  padding-top: 70px;
  padding-right: 20px;
  width: 100%;
  margin: 0px 30px 0 0 !important;
}

.job-date .month{
  font-family: 'Quicksand', sans-serif;
  transition: all .5s;
}

.job-description{
    border-radius: 10px;
    box-shadow: 0 6px 20px 3px rgba(0, 0, 0, 0.25);
    height: 200px;
    margin: 30px 20px 0 0 !important;
    padding-right: 10px !important;
    transition: all .5s;
    transform-origin: 0% 0%;
    overflow: hidden;
    padding:10px;
    font-size: 15px;
    font-weight: 300;
    line-height:1.6em;
    font-family: 'Quicksand', sans-serif;
}


.swiper-button-prev::after, .swiper-button-next::after{
  color: #e2e2e2;
  position: absolute ;
  top: 0px;
}

 .swiper-button-next::after{
   right: 10px;
}

.swiper-button-prev::after {
  left: -10px !important;
}


.job-description::-webkit-scrollbar {
    width: 4px;
}
 
.job-description::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #00000059; 
    border-radius: 10px;
}
 
.job-description::-webkit-scrollbar-thumb {
    border-radius: 50px;
    -webkit-box-shadow: inset 0 0 6px #414141;
    
}


.swiper-button-prev, .swiper-button-next{
  top: 47px !important;
}


@media screen and (max-width: 576px) {
    .swiper-container {
      width: 100%;
    }
    .swiper-slide{
        padding: 0 0 0 15px !important;
    }

  
    .end-single-job-date .job-date-items{
      position: absolute;

    
    }

    .swiper-button-prev::after, .swiper-button-next::after{
      display: none;
    }

    .job-active{
      color: #000;
    }
    .job-active .job-description{
      color: #000;
      box-shadow: none;
      overflow-y: scroll;
      
  }
  .job-active .month{
    color: #222222 !important;
    transition-delay: .1s;
    
  }
  
  .job-active .date{
    color: #a5c261 !important;
    transition-delay: .1s;
    
  }

  .job-active .job-date-items {
    border-bottom: 2px solid #858585 !important;
    padding-bottom: 6px;
  }
  .job-active .end-single-job-date .job-date-items{
    padding-bottom: 1px !important;
  
  }
    
  }


@media screen and (min-width: 576px) {
    .swiper-container {
        width: 513px;
        margin: auto;
      }

      /* .end-single-job-date .job-date-items{
        position: relative;
        left: 123%;
      
      } */
      
    .swiper-slide{
      padding-right: 10px;
    }

    .job-bg{
      max-width: 500px;
    }
    .job-description{
      padding: 10px !important;
    }

    
  }
  
  @media screen and (min-width: 768px) {
    .swiper-container {
        width: 718px;
      }

      .job-bg{
        max-width: 340px !important;
      }

      
      
  }

  @media screen and (min-width: 992px) {
    .swiper-container {
      width: 942px ;
    }
    .job-bg{
      max-width: 350px !important;
      min-width: 300px !important;
    }

    .swiper-slide{
      padding: 0 0px 0 20px;
  }

  /* .end-single-job-date .job-date-items{
    position: relative;
    left: 50%;
  
  } */
  
  .swiper-button-next::after{
      right: -10px;
   }


  
  }
  @media screen and (min-width: 1150px) {
    .swiper-container {
      width: 1100px;
    }
    .job-bg{
      max-width: 360px !important;
      min-width: 340px !important;
    }

    /* .end-single-job-date .job-date-items{
      position: relative;
      left: 63%;
    
    } */

    .swiper-button-next::after{
      right: -10px;
   }
   

    .job-description{
      margin: 30px 30px 0 0 !important;
  }
  
  }

  @media screen  and (max-width: 992px){
    
    
    .job-description{
      margin: 30px 0 0 0; 
  }

  .swiper-wrapper .job-date{
    margin-left: 0px;
  }
  }