.App{
  width: 100% !important;
  overflow:hidden !important;
}


@media only screen and (max-width: 576px) {
  
  .nav-container{
    justify-content: space-between !important;
    margin: 0 1%;
}


  li.nav-item {
    padding-right: .7rem;
    padding-left: .7rem;
  }

  #work{
    margin-left: 13% !important;
    margin-right: 13% !important;
    margin-top: -180px !important;
  }


  #work .button-group{
    justify-content: center !important;
    position: relative;
  }

  #work .button-group button{
    border: 1px solid #ddd;
    background-color: white;
    color: #444;
    font-size: 11.2px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
  }

  #work .button-group .resume{
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-right: none;
  }
  #work .button-group .letter{
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
  }

  .button-group button:before{
    height: 0!important;
}

  .button-group button:hover{
    background-color: orange !important;
    color: #fff !important;
  }

  .button-group .or{
    display: block !important;
  }
  #education{
    margin: 0 13% !important;
  }
  #education ul{
    justify-content: flex-start !important;
    padding-left: 0;
  }
  #education li{
    margin-left: 0!important;
  }
  #skills{
    padding: 0 13% !important;
  }
}

@media only screen and (max-width: 335px){
  
  li.nav-item {
    padding-right: .6rem;
    padding-left: .4rem;
  }
}
@media only screen and (max-width: 311px){
  .nav-item {
    padding: 15px 6px !important ;
}
}